.header {
    display: flex;
    height: 50px;
    width: 100%;
    color: #e3e3e3;
    background: #383838;
    align-items: center;
}
* {
    margin: 0px 0px;
    padding: 0px 0px;
    font-family: Ubuntu;
}
body {
    height: 100vh;
    width: 100vw;
    background: #3d3d3d;
}
.logo {
    font-size: 24px;

}
.container {
    width: 1200px;
    margin: auto;
}
.menu-profile {
    background: #303030;
    width: 250px;
    height: 100%;
}
.menu-items {
    background: #3b3b3b;
    height: calc(100vh - 50px);
    width: 150px;
}
.feed-page {
    display: flex;
    flex-direction: column;
}
.menu-item a {
    text-decoration: none;
    color: #e3e3e3;
    text-align: center;
}
.left-menu {
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background: #3b3b3b;
}
.menu-item {
    width: 200px;
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
}
.menu-prof-name {
    display: flex;
    padding: 5%;
    align-items: center;
    justify-content: center;
}
.menu-prof-name a {
    text-decoration: none;
    color: #e3e3e3;
    text-align: center;
    padding-left: 30px;
}
.menu-class {
    display: flex;
}
.feed {
    flex-grow: 1;
}
.one-news {
    padding: 20px 20px;
    margin: 0px 0px 30px 0px;
    background-color: #363636;
    border-radius: 10px;
    color: #c9c9c9;
    display: flex;
    flex-direction: column;
}
.feed .container {
    margin-top: 20px;
}
.news-header {
    padding: 20px 20px;
    font-size: 24px;
    flex-wrap: wrap;
    word-wrap: break-word;
}
.news-text {
    padding: 5px 20px 20px 20px;
    color: #ffffff;
    flex-wrap: wrap;
    word-wrap: break-word;
}
