* {
    font-family: 'Ubuntu', sans-serif;
}
.home-form{
    justify-content: center;
    align-items: center;
    margin: auto;
    background: #3d3d3d;
    padding: 100px 40px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}
.home {
    align-items: center;
    display: flex;
    justify-content: center;
}
.welcome {
    text-align: center;
    color: #b5b5b5;
    font-weight: bold;
    font-size: 48px;
    margin-bottom: 20px;
}
body {
    display: flex;
    width: 100vw;
    height: 100vh;
    margin: 0;
    justify-content: center;
    background: #303030;
}
.registration-header {
    text-align: center;
    font-weight: bold;
    font-size: 46px;
    color: #e3e3e3;
    margin-bottom: 20px;
}
input {
    background: #474747;
    border: 1px solid;
    border-color: #3d3d3d;
    color: #e3e3e3;
    height: 25px;
    border-radius: 3px;
}
.registration-form {
    display: flex;
    flex-direction: column;
}
form {
    display: flex;
    flex-direction: column;
    color: #e3e3e3;
    font-size: 15px;
}
.submit-reg-btn {
    height: 35px;
}
.arleady-have-account a{
    text-decoration: none;
    text-align: center;
    color: #7f7f7f;
}
.arleady-have-account {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.sumbit-rules {
    background: #474747;
}
.checkbox-html {
    display: flex;
    align-items: center;
    justify-content: center;
}