body {
    height: 100vh;
    width: 100vw;
    background: #3d3d3d;
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
}
* {
    margin: 0px 0px;
    padding: 0px 0px;
    font-family: Ubuntu;
}
input {
    background: #474747;
    border: 1px solid;
    border-color: #3d3d3d;
    color: #e3e3e3;
    height: 25px;
    border-radius: 10px;
}
.chat-add-form {
    background-color: #363636;
    display: flex;
    flex-direction: column;
    padding: 100px 50px 50px 50px;
    align-items: center;
    height: 500px;
}
.header {
    text-align: center;
    font-weight: bold;
    font-size: 46px;
    color: #e3e3e3;
    padding-bottom: 50px;
}


